*{
	padding: 0px;
	margin: 0px;
}
.box1{
	background-color: #00004d;
	height: 100px;
}
.box2{
	background-color: white;
	width: 340px;
	height: 60px;
	position: relative;
	top: 25px;
	text-align: center;
	border:1.5px solid;
	border-color: indianred;
}
h6{
	font-size: 15px;
}
.contents{
	display: flex;
	height: 90px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid;
}
.selectCategory{
	margin-left: 20px;
	margin-right: 160px;
	font-size: 20px;
}
.sel{
	width: 150px;
	height: 25px;
}
.subscribe{
	margin-right: 20px;
	font-size: 20px;
}
.email{
	font-size: 20px;
}
.sub{
	background-color: black;
	color: white;
	font-size: 20px;
}

.news{
	display: flex;

	border-bottom: 1px solid;
}


.img{
	
	min-width: 200px;
	min-height: 200px;
	background-color: darkgrey;
	margin: 20px;

}
.matter{
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}
button{
	width: 150px;
	height: 30px;
	background-color: orangered;
	color: white;
	border: white;
	margin-bottom: 20px;
	margin-top: 20px;

}
h5{
	margin: 5px;
	font-size: 20px;
}
p{
	font-size: 20px;

}
h2{
	font-size: 30px;
}


@media screen and (max-width:900px){
	.news{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.img{
		width: 150px;
		height: 150px;

	}
	.sel{
		width: 80px;
		font-size: 12px;
		height: 18px;
	}
	.allNews{
		font-size: 10px;
	}
	.subscribe{
		font-size: 12px;
	}
	.email{
		font-size: 12px;
	}
	.sub{
		font-size: 12px;
	}
	.selectCategory{
		font-size: 12px;
		margin-right: 80px;
	}
}
@media screen and (max-width:610px){
	.news{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.img{
		width: 150px;
		height: 150px;

	}
	.sel{
		width: 50px;
		font-size: 9px;
		height: 15px;
	}
	.allNews{
		font-size: 12px;
	}
	.subscribe{
		font-size: 9px;
	}
	.email{
		font-size: 9px;
		width: 40px;
	}
	.sub{
		font-size: 9px;
	}
	.selectCategory{
		font-size: 9px;
		margin-right: 15px;
	}
	.matter{
		font-size: 15px;
	}
}

